.custom-card {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 6px;
  margin: 5px;
  border-bottom: 0.5px solid rgb(231, 231, 231);
  color: #153b54;
  font-size: 14px;
  font-weight: 500;
  flex: 1 1 150px;
  max-width: 200px;
}

.active {
  background: #153b54 !important;
  color: #fff !important;
  font-size: 14px !important;
  font-weight: 500 !important;
}

@media (max-width: 768px) {
  .custom-card {
    font-size: 13px;
    padding: 6px 10px;
  }
}
