<div class="container mt-4">
    <div class="row">
      <!-- Image Card 1 -->
      <div class="col-12 col-sm-6 col-md-4 mb-4">
        <div class="card shadow border">
          <img src="assets/images/avatar.png" alt="Image 1" class="card-img-top" />
          <div class="card-body text-center">
            <button class="btn btn-outline-secondary me-2">
              <i data-feather="eye"></i> Preview
            </button>
            <button class="btn btn-primary">Select</button>
          </div>
        </div>
      </div>
  
      <!-- Image Card 2 -->
      <div class="col-12 col-sm-6 col-md-4 mb-4">
        <div class="card shadow border">
          <img src="assets/images/avatar.png" alt="Image 2" class="card-img-top" />
          <div class="card-body text-center">
            <button class="btn btn-outline-secondary me-2">
              <i data-feather="eye"></i> Preview
            </button>
            <button class="btn btn-primary">Select</button>
          </div>
        </div>
      </div>
  
      <!-- Image Card 3 -->
      <div class="col-12 col-sm-6 col-md-4 mb-4">
        <div class="card shadow border">
          <img src="assets/images/avatar.png" alt="Image 3" class="card-img-top" />
          <div class="card-body text-center">
            <button class="btn btn-outline-secondary me-2">
              <i data-feather="eye"></i> Preview
            </button>
            <button class="btn btn-primary">Select</button>
          </div>
        </div>
      </div>
    </div>
  </div>