<div class="row">
  <div class="col-md-12">
    <div class="card rounded-0">
      <div class="card-body">
        <div style="display: flex; justify-content: space-between;">
          <div>
            <div style="font-size: 20px; line-height: 18px;">Expertise</div>
            <div style="font-size: 12px; color: grey">Data</div>
          </div>
          <div>
            <button class="btn btn-success" type="button" (click)="showModal()">+ Add Expertise</button>
          </div>
        </div>

        <div class="row mt-3 mb-2">
          <div class="col">
            <input type="text" [(ngModel)]="filter.search" (keyup)="onSearch()" class="form-control"
              placeholder="Search here...">
          </div>
          <div class="col-auto">
            <select class="form-select" [(ngModel)]="filter.limit" (change)="onSearch()">
              <option value="10">10</option>
              <option value="50">50</option>
              <option value="100">100</option>
            </select>
          </div>
        </div>

        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th width="5%" class="text-center">#</th>
                <th>Expertise On</th>
                <th>Technology</th>
                <th width="20%" class="text-center">Action</th>
              </tr>
            </thead>
            @if(dataListing){
            <tbody>
              @for(item of dataListing!.docs | paginate: { itemsPerPage: filter.limit, currentPage:
              filter.page, totalItems: dataListing!.totalDocs}; let i = $index; track item._id){
              <tr>
                <td class="text-center">{{i+1}}</td>
                <td>{{item.name}}</td>
                <td>{{item.technology.name}}</td>
                <td class="text-center">
                  <button class="btn btn-danger" (click)="onDelete(item)">
                    <i class="ri-delete-bin-5-line"></i>
                  </button>
                </td>
              </tr>
              }@empty {
              <tr>
                <td colspan="4" class="text-center">No Records</td>
              </tr>
              }
            </tbody>
            }
          </table>
        </div>

        @if(dataListing){
        <div class="d-flex justify-content-end">
          <nav>
            <pagination-controls class="pagination" (pageChange)="onPageChanged($event)">
            </pagination-controls>
          </nav>
        </div>
        }

      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="expertiseModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Expertise</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="onSubmit()" ngNativeValidate>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Expertise On</label>
                  <input type="text" class="form-control" [(ngModel)]="form.name" [ngModelOptions]="{standalone: true}">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Technology</label>
                  <select class="form-select" [(ngModel)]="form.technology" [ngModelOptions]="{standalone: true}">
                    <option value="">Please Select</option>
                    @for(item of technologies;track item._id){
                    <option [value]="item._id">{{item.name}}</option>
                    }
                  </select>
                </div>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Description</label>
                  <textarea class="form-control" rows="4" [(ngModel)]="form.description"
                    [ngModelOptions]="{standalone: true}"></textarea>
                </div>
              </div>
            </div>

            <div class="mt-2 text-end">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary ms-2">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>