<div class="mt-4">
  <div class="row d-flex flex-wrap">
    <div class="col-12 p-4">
      @if(businessProfile!=null){
      <form ngNativeValidate (ngSubmit)="onSubmit()">
        <div class="row g-3">

          <!-- Name Field (Optional) -->
          <div class="col-md-6 col-12">
            <label for="company" class="form-label">Company</label>
            <input type="text" id="company" class="form-control" [(ngModel)]="businessProfile.company"
              [ngModelOptions]="{standalone: true}" required />
          </div>

          <div class="col-md-6 col-12">
            <label for="company" class="form-label">Company Address</label>
            <input type="text" id="company" class="form-control" [(ngModel)]="businessProfile.companyAddress"
              [ngModelOptions]="{standalone: true}" />
          </div>

          <!-- Profile Image Upload -->
          <div class="col-md-6 col-12">
            <label for="profileImage" class="form-label">Profile Image</label>
            <input type="file" id="profileImage" class="form-control" />
          </div>

          <!-- Cover Image Upload -->
          <div class="col-md-6 col-12">
            <label for="coverImage" class="form-label">Cover Image</label>
            <input type="file" id="coverImage" class="form-control" />
          </div>

          <!-- Social Media Links -->
          <div class="col-12 mt-4">
            <label class="form-label"
              style="font-size: 16px;font-weight: 600;text-transform: uppercase; letter-spacing: 3px;">
              Social Media Links
            </label>

            <button type="button" class="btn btn-primary my-2 ms-2" data-bs-toggle="modal"
              data-bs-target="#addSocialMediaModal">
              Add Link
            </button>

            <!-- Display added social media links -->
            <div class="row g-3 mt-1">
              @for (item of businessProfile.companySocialMedia; track $index) {
              <div class="col-md-4 col-12">
                <div class="d-flex justify-content-between align-items-center">
                  <label for="{{item.name}}" class="form-label">
                    <img src="{{baseURL}}/{{item.image}}" alt="" height="20"> {{item.name}}
                  </label>
                  <div class="form-check form-switch">
                    <input class="form-check-input cursor-pointer" [ngModelOptions]="{standalone: true}"
                      [(ngModel)]="item.visibility" type="checkbox" id="{{item.name}}Toggle">
                  </div>
                </div>
                <input type="text" id="{{item.name}}" class="form-control" [(ngModel)]="item.link"
                  [ngModelOptions]="{standalone: true}" name="{{item.name}}" required="{{item.visibility}}" />
                @if(!item.isDefault){
                <a class="text-danger" style="font-size: 12px;" (click)="deleteSocial($index)">Delete</a>
                }
              </div>
              }
            </div>
          </div>



          <!-- WhatsApp and Email Message (Textareas) -->
          <div class="col-12 mt-4">
            <label class="form-label"
              style="font-size: 16px;font-weight: 600;text-transform: uppercase; letter-spacing: 3px;">
              Contact Message
            </label>
            <div class="row g-3">
              <!-- WhatsApp Message -->
              <div class="col-md-6 col-12">
                <label for="whatsApp" class="form-label">WhatsApp</label>
                <textarea id="whatsApp" class="form-control" rows="4" [(ngModel)]="businessProfile.message.whatsApp"
                  [ngModelOptions]="{standalone: true}"></textarea>
              </div>

              <!-- Email Message -->
              <div class="col-md-6 col-12">
                <label for="email" class="form-label">Email</label>
                <textarea id="email" class="form-control" rows="4" [(ngModel)]="businessProfile.message.email"
                  [ngModelOptions]="{standalone: true}"></textarea>
              </div>
            </div>
          </div>


        </div>

        <!-- Submit Button -->
        <div class="mt-3 d-flex justify-content-start">
          <button type="submit" class="btn btn-success me-2">Save Changes</button>
          <button type="button" class="btn btn-secondary">Cancel</button>
        </div>
      </form>
      }
    </div>
  </div>
</div>

<!-- MODEL FOR ASKING ADD SOICAL FIELD -->
<div class="modal fade" id="addSocialMediaModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true"
  data-bs-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Add Social Media Link</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form ngNativeValidate (ngSubmit)="addSocialMedia()">
        <div class="modal-body">
          <div class="mb-3">
            <label class="form-label">Platform Name</label>
            <input type="text" class="form-control" [(ngModel)]="newSocialMedia.name"
              [ngModelOptions]="{standalone:true}" name="socialName" required>
          </div>
          <div class="mb-3">
            <label class="form-label">Platform Image</label>
            <input type="file" class="form-control" name="socialName" id="platformImage"
              (change)="onSocialMediaIcon($event)" required>
          </div>
          <div class="mb-3">
            <label class="form-label">Link / URL</label>
            <input type="text" class="form-control" [(ngModel)]="newSocialMedia.link"
              [ngModelOptions]="{standalone:true}" name="socialLink" required>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Add Social Media</button>
        </div>
      </form>
    </div>
  </div>
</div>