// :host {
//   display: block;
// }
.custom-tabs {
  border-bottom: 2px solid #dee2e6;
  margin-bottom: 1em;
  .nav-link {
    &.custom-tab-link {
      color: #495057;
      font-weight: 500;
      padding: 10px 20px;
      border: none;
      border-bottom: 3px solid transparent;
      transition: all 0.3s ease;
      &.active {
        color: #007bff;
        border-bottom: 3px solid #007bff;
        background-color: transparent;
      }
      &:hover {
        color: #0056b3;
      }
      i {
        font-size: 1.2rem;
        vertical-align: middle;
      }
    }
  }
}