<div class="card">
  <div class="card-body  rounded-3">
    <div class="row">
      <div class="col">
        <label class="fw-bold text-uppercase fs-3">Shared History</label>
      </div>
      <div class="col-md-auto">
        <button class="btn btn-info" (click)="_exportExcel()">
          <i class="ri-file-excel-2-line"></i> Export to Excel
        </button>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md">
        <span class="fw-bold">Search</span>
        <input type="text" [(ngModel)]="payload.search" class="form-control" placeholder="Search by Name or Mobile">
      </div>
      <div class="col-md-auto">
        <span class="fw-bold">Page</span>
        <select class="form-select form-select-lg" [(ngModel)]="payload.limit"
            (ngModelChange)="onChange()">
            <option value=10>10</option>
            <option value=20>20</option>
            <option value=50>50</option>
            <option value=100>100</option>
            <option value=200>200</option>
          </select>
      </div>
    </div>
    <div class="row mt-3">
      <div class="table-responsive">
        <table class="table table-responsive table-bordered">
          <thead class="bg-light text-uppercase">
            <tr>
              <th class="text-center">#</th>
              <th>Name</th>
              <th class="text-center">Date</th>
              <th class="text-center">Mobile</th>
              <th>Notes</th>
              <th class="text-center"><i class="ri-tools-fill"></i></th>
            </tr>
          </thead>
          <tbody *ngIf="!isLoading && historyDetails?.docs && historyDetails.docs.length > 0">
              <tr
                  *ngFor="let item of historyDetails.docs || [] | paginate: {itemsPerPage: payload.limit, currentPage: payload.page, totalItems: historyDetails.totalDocs}; let i = index">
                  <td [width]="'5%'" class="text-center">{{ (payload.page - 1) * payload.limit + i + 1 }}</td>
                <td >{{item.name | titlecase}} <span class="badge bg-info ms-2" *ngIf="item.isCustomer">Customer</span></td>
                <td class="text-center" [width]="'15%'">{{item.createdAt | date:'dd-MM-yyyy'}} {{item.createdAt | date:'hh:MM a'}}</td>
                <td class="text-center" [width]="'15%'">{{item.mobile}}</td>
                <td>{{item.notes || 'NA'}}</td>
                <td class="text-center" [width]="'15%'">
                  <button class="btn btn-sm btn-success me-1" (click)="onOpenAddToCustomerModal(item)" [disabled]="item.isCustomer">
                    <i class="ri-add-circle-line"></i>
                  </button>
                  <a [href]="'tel:' + item.mobile" class="btn btn-info btn-sm">
                    <i class="ri-phone-fill"></i>
                  </a>
                
                <!-- WhatsApp button -->
                <a href="https://api.whatsapp.com/send?phone={{item.mobile}}" target="_blank" class="btn btn-success btn-sm ms-1">
                  <i class="ri-whatsapp-fill"></i>
              </a>
                </td>
              </tr>
            </tbody>
        </table>

        <div class="d-flex justify-content-end" >
          <pagination-controls class="pagination" (pageChange)="onPageChange($event)">
          </pagination-controls>
      </div>
      </div>
    </div>
  </div>
</div>
  
  <!-- <div class="modal fade" id="exportModal" tabindex="-1" aria-labelledby="exportModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exportModalLabel">Export to Excel</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="keywordSelect" class="form-label">Select Keyword</label>
              <select class="form-select" id="keywordSelect" [(ngModel)]="selectedKeyword" [ngModelOptions]="{standalone: true}">
                <option value="All">ALL</option>
                @for (item of keywords; track $index) {
                  <option value="{{item}}">{{item || "Others" | uppercase }}</option>
                }
              </select>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-success" (click)="exportExcel()">
            <i class="ri-file-excel-2-line"></i> Export
          </button>
        </div>
      </div>
    </div>
  </div> -->

  <div class="modal fade" id="add-customer" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog"
  aria-labelledby="modalTitleId" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title fw-medium" id="modalTitleId">
          Add to Customer
        </h4>
        <button type="button" class="btn-close" (click)="onCloseCustomerModal()"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <span class="fw-bold">Customer Name:</span> {{customer.name}}
          </div>
        </div>
        <div class="row my-3">
          <div class="col-md-6 ">
            <label for="" class=" mb-1">Country Code <code class="text-danger">*</code></label>
            <ng-select [items]="countryList" bindLabel="name" bindValue="dialCode"
                placeholder="Select country" [(ngModel)]="customer.countryCode" [searchable]="true"
                [clearable]="false" [ngModelOptions]="{standalone: true}">

                <ng-template ng-label-tmp let-item="item">
                    <img [src]="item.flag" width="24" height="18" style="margin-right: 8px;"
                        alt="{{ item.name }} flag" />
                    {{ item.name }} ({{ item.dialCode }})
                </ng-template>

                <ng-template ng-option-tmp let-item="item">
                    <img [src]="item.flag" width="24" height="18" style="margin-right: 8px;"
                        alt="{{ item.name }} flag" />
                    {{ item.name }} ({{ item.dialCode }})
                </ng-template>
            </ng-select>
        </div>
           <div class="col-md-6">
            <label for="" >Mobile No:</label>  
            <input type="text" class="form-control mt-1" [(ngModel)]="customer.mobile" placeholder="Enter Mobile No">
           </div>
          <div class="col-md-6 mt-3">
           <label for="" >Date of Birth</label>  
           <input type="date" class="form-control mt-1" [(ngModel)]="customer.dob" placeholder="Enter DOB">
          </div>
          <div class="col-md-6 mt-3">
            <label for="" >Spouse Name</label>  
            <input type="text" class="form-control mt-1" [(ngModel)]="customer.spouse_name" placeholder="Enter Spouse Name">
          </div>
          <div class="col-md-6 mt-3">
            <label for="" >Relation</label>  
            <input type="text" class="form-control mt-1" [(ngModel)]="customer.spouse_relation" placeholder="Enter Spouse Relation">
          </div>
          <div class="col-md-6 mt-3">
            <label for="" >Spouse Birth Date</label>  
            <input type="date" class="form-control mt-1" [(ngModel)]="customer.spouse_DOB" placeholder="Enter Spouse DOB">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-success" (click)="_SaveCustomer()"><i class="ri-save-3-line"></i> Save</button>
      </div>
    </div>
  </div>
</div>
