<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center mb-3 flex-wrap">
                <h3 class="mb-2 mb-sm-0" >Business Cards</h3>     
            </div>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                @for(tab of tabs; track tab){
                <li class="nav-item" role="presentation">
                    <a (click)="selectedTab = tab" class="nav-link {{ tab.href == selectedTab.href ? 'active' : '' }}">
                        {{ tab.title }}
                    </a>
                </li>
                }
            </ul>
            <div class="mt-2">
                @if(selectedTab.href == "personal-details"){
                <app-personal-details></app-personal-details>
                }

                @if(selectedTab.href == "business-details"){
                <app-business-details></app-business-details>
                }

                @if(selectedTab.href == "document-details"){
                <app-document-details></app-document-details>
                }
                @if(selectedTab.href == "themes"){
                <app-themes></app-themes>
                }
                @if(selectedTab.href == "gallery-details"){
                <app-gallery-details></app-gallery-details>
                }
            </div>
        </div>
    </div>
</div>