<nav id="sidebar" class="sidebar js-sidebar">
  <div class="sidebar-content js-simplebar" style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">
    <a class="sidebar-brand" style="color:#126f8a; background: aliceblue; padding: 10px 20px;" href="dashboard">
      <span class="align-middle">
        <div class="text-truncate">{{userData?.name}}</div>
        <div style="font-size: 12px;">
          Distributor Partner
        </div>
      </span>
    </a>

    <div class="vh-100" style="overflow-y: auto; overflow-x: hidden; padding-bottom: 50%;">
      <ul class="sidebar-nav">
        <!-- <li class="sidebar-header">Modules</li>
        <li class="sidebar-item" *ngFor="let item of sideBarService.list; let i = index" [routerLinkActive]="'active'">
          <a class="sidebar-link user-select-none" [routerLink]="item.link">
            <i class="align-middle" [attr.data-feather]="item?.icon"></i>
            <span class="align-middle">{{item.title}}</span>
          </a>
        </li> -->


        <!-- drop down -->
        <span *ngFor="let module of sideBarService.list">
          <li class="sidebar-header">{{module.moduleName}}</li>
          <li class="sidebar-item" *ngFor="let item of module.menus; let i = index" [routerLinkActive]="'active'">
            <ng-container *ngIf="!item.menu">
              <a class="sidebar-link user-select-none" [routerLink]="item.link"
                [queryParams]="item.query ? item.query : {}">
                <i class="align-middle" [attr.data-feather]="item?.icon"></i>
                <span class="align-middle">{{ item.title }}</span>
              </a>
            </ng-container>
            <ng-container *ngIf="item.menu">
              <a class="sidebar-link user-select-none" (click)="sideBarService.toggleSubMenu(i)">
                <i class="align-middle" [attr.data-feather]="item?.icon"></i>
                <span class="align-middle">{{ item.title }}</span>
                <i class="ri-arrow-down-s-fill" [class.rotate-icon]="sideBarService.activeSubMenuIndex === i"></i>
              </a>
              <ul class="sub-menu" *ngIf="sideBarService.activeSubMenuIndex === i">
                <li class="sidebar-item" *ngFor="let submenu of item.menu">
                  <a class="sidebar-link user-select-none"
                    style="padding-top: 5px; padding-bottom: 5px; font-size: 13px;"
                    (click)="sideBarService.onNavSwitch(submenu.link)">
                    <i class="align-middle"></i>
                    <span class="align-middle"><i class="ri-arrow-right-line"></i>{{ submenu.title }}</span>
                  </a>
                </li>
              </ul>
            </ng-container>
          </li>
        </span>


        <li class="sidebar-header">Extra & Tools</li>
        <li class="sidebar-item" [routerLinkActive]="'active'">
          <a class="sidebar-link user-select-none" [routerLink]="'chat'">
            <i class="align-middle" data-feather="message-circle"></i> <span class="align-middle">Chat</span>
          </a>
        </li>
        <li class="sidebar-item" [routerLinkActive]="'active'">
          <a class="sidebar-link user-select-none" [routerLink]="'profile'">
            <i class="align-middle" data-feather="settings"></i> <span class="align-middle">Settings</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link user-select-none" (click)="onLogout()">
            <i class="align-middle" data-feather="log-out"></i> <span class="align-middle">Logout</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="position-fixed" style="top: 54px;right: 0px;z-index: 1;width : 320px">
  <div class="alert alert-warning alert-dismissible fade show" role="alert"
    *ngFor="let item of sideBarService.socketService.newMassages; let i = index">
    <strong>New Message From {{item.user.type | titlecase}}</strong> <br />
    <span> {{item.user.name | uppercase}} Says, </span> <br>
    <small>{{item.message}} </small>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
</div>