<div class="row">
    <div class="row">
        <label class="fw-bold text-uppercase fs-3">Home Page Details</label>
    </div>

    <div *ngIf="isLoading" class="text-center my-4">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>

    <div class="row g-4 my-0" *ngIf="!isLoading">
        <div class="col-md-6 col-12">
            <label for="heading" class="form-label fw-bold">Heading</label>
            <input type="text" id="heading" class="form-control" [(ngModel)]="home.heading" required />
        </div>

        <div class="col-md-6 col-12">
            <div class="d-flex">
                <label for="slogan" class="form-label fw-bold">Slogan</label>
                <span class="form-check form-switch ms-3 ">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault"
                        [(ngModel)]="sloganVisible" (change)="_updateVisibility()">
                </span>
            </div>
            <input type="text" id="slogan" class="form-control" [(ngModel)]="home.slogan" required />
        </div>

        <div class="col-md-6 col-12">
            <div class="d-flex">
                <label for="bannerImage" class="form-label fw-bold">Banner Image <code class="text-danger">(Upload Upto 15 Images)</code></label>
                <span class="form-check form-switch ms-3 ">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault"
                        [(ngModel)]="bannerImageVisible" (change)="_updateVisibility()">
                </span>
            </div>
            <input type="file" #fileInput id="bannerImage" class="form-control" (change)="onBannerImageSelected($event)" multiple accept="image/*" />
            <div *ngIf="bannerImages?.length" class="mt-3 d-flex flex-wrap gap-2">
                <div *ngFor="let img of bannerImages; let i = index" class="position-relative">
                    <img [src]="getImagePreview(img)" alt="Banner Preview" class="img-thumbnail" width="100" height="70" />
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                        style="cursor: pointer; font-size: 10px;" (click)="removeImage(i)">
                        ✖
                    </span>
                </div>
            </div>

        </div>

        <div class="col-md-6 col-12">
            <div class="d-flex">
                <label for="logoImage" class="form-label fw-bold">Logo Image</label>
                <span class="form-check form-switch ms-3 ">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault"
                        [(ngModel)]="logoImageVisible" (change)="_updateVisibility()">
                </span>
            </div>

            <input type="file" id="logoImage" class="form-control" (change)="onLogoImageSelected($event)" />
            <div *ngIf="logoImagePreview" class="mt-3">
                <img [src]="logoImagePreview" alt="Logo Preview" class="img-thumbnail" width="100" height="70"/>
            </div>
        </div>
    </div>

    <!-- Save Button -->
    <div class="mt-3 d-flex justify-content-end">
        <button type="button" class="btn btn-success me-2" (click)="savehomeDetails()"><i class="ri-save-fill"></i>
            Save</button>
    </div>
</div>