<div class="container mt-5">
     <ul class="nav nav-tabs" id="myTab" role="tablist">
       <li class="nav-item" role="presentation">
         <a class="nav-link active" id="basic-detail-tab" data-bs-toggle="tab" href="#basic-detail" role="tab" aria-controls="basic-detail" aria-selected="true">Basic Detail</a>
       </li>
       <li class="nav-item" role="presentation">
         <a class="nav-link" id="bank-details-tab" data-bs-toggle="tab" href="#bank-details" role="tab" aria-controls="bank-details" aria-selected="false">Bank Details</a>
       </li>
       <li class="nav-item" role="presentation">
         <a class="nav-link" id="general-settings-tab" data-bs-toggle="tab" href="#general-settings" role="tab" aria-controls="general-settings" aria-selected="false">General Settings</a>
       </li>
       <li class="nav-item" role="presentation">
         <a class="nav-link" id="change-mobileno-tab" data-bs-toggle="tab" href="#change-mobileno" role="tab" aria-controls="change-mobileno" aria-selected="false">Change Mobile No</a>
       </li>
       <li class="nav-item" role="presentation">
         <a class="nav-link" id="select-card-tab" data-bs-toggle="tab" href="#select-card" role="tab" aria-controls="select-card" aria-selected="false">Select Card</a>
       </li>
       <li class="nav-item" role="presentation">
         <a class="nav-link" id="gallery-tab" data-bs-toggle="tab" href="#gallery" role="tab" aria-controls="gallery" aria-selected="false">Gallery</a>
       </li>
       <li class="nav-item" role="presentation">
         <a class="nav-link" id="service-tab" data-bs-toggle="tab" href="#service" role="tab" aria-controls="service" aria-selected="false">Service</a>
       </li>
       <li class="nav-item" role="presentation">
         <a class="nav-link" id="view-inquiry-tab" data-bs-toggle="tab" href="#view-inquiry" role="tab" aria-controls="view-inquiry" aria-selected="false">View Inquiry</a>
       </li>
     </ul>
     <div class="tab-content mt-3" id="myTabContent">
       <div class="tab-pane fade show active" id="basic-detail" role="tabpanel" aria-labelledby="basic-detail-tab">
         <app-basic-detail></app-basic-detail>
       </div>
       <div class="tab-pane fade" id="bank-details" role="tabpanel" aria-labelledby="bank-details-tab">
         <app-bank-details></app-bank-details>
       </div>
       <div class="tab-pane fade" id="general-settings" role="tabpanel" aria-labelledby="general-settings-tab">
         <app-general-settings></app-general-settings>
       </div>
       <div class="tab-pane fade" id="change-mobileno" role="tabpanel" aria-labelledby="change-mobileno-tab">
         <app-change-mobileno></app-change-mobileno>
       </div>
       <div class="tab-pane fade" id="select-card" role="tabpanel" aria-labelledby="select-card-tab">
         <app-select-card></app-select-card>
       </div>
       <div class="tab-pane fade" id="gallery" role="tabpanel" aria-labelledby="gallery-tab">
         <app-gallery></app-gallery>
       </div>
       <div class="tab-pane fade" id="service" role="tabpanel" aria-labelledby="service-tab">
         <app-service></app-service>
       </div>
       <div class="tab-pane fade" id="view-inquiry" role="tabpanel" aria-labelledby="view-inquiry-tab">
         <app-view-inquiry></app-view-inquiry>
       </div>
     </div>
   </div>
   