@import "@ng-select/ng-select/themes/default.theme.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;

/* Reset ul, ol, li to browser defaults */
ul {
  list-style: disc;
  margin: 1em 0;
  padding-left: 40px;
}

ol {
  list-style: decimal;
  margin: 1em 0;
  padding-left: 40px;
}

li {
  display: list-item;
  margin: 0;
  padding: 0;
}

 h1 {
  font-size: 2.25rem;      /* 36px */
  // line-height: 2.5rem;     /* 40px */
  font-weight: 800;
}

 h2 {
  font-size: 1.875rem;     /* 30px */
  // line-height: 2.25rem;    /* 36px */
  font-weight: 700;
}

h3 {
  font-size: 1.5rem;       /* 24px */
  // line-height: 2rem;       /* 32px */
  font-weight: 600;
}

h4 {
  font-size: 1.25rem;      /* 20px */
  // line-height: 1.75rem;    /* 28px */
  font-weight: 600;
}

h5 {
  font-size: 1.125rem;     /* 18px */
  // line-height: 1.75rem;
  font-weight: 600;
}

h6 {
  font-size: 1rem;         /* 16px */
  // line-height: 1.5rem;
  font-weight: 600;
}

@tailwind components;
@tailwind utilities;
$primary: #153b54;

// // Explicitly set card border color before Bootstrap import
// $card-border-color: rgba(0, 0, 0, 0);

// @import "bootstrap";


body{
    font-size: 14px;
}

.switch-lg .form-check-input {
    width: 1.5rem;
    height: 0.7rem;
    transform: scale(1.5);
}

.form-check-input:checked {
    background-color: #27a544 !important;
    border-color: #27a544 !important;
  }
  
  /* Optional: remove blue box-shadow on focus */
  .form-check-input:focus {
    box-shadow: none !important;
  }

  // this is to override the default ProseMirror styles of ngx editor apply hieght
  .ProseMirror {
  min-height: 100px;
  max-height: 100px;
  height: auto;
  overflow-y: auto;
}
