@import "@ng-select/ng-select/themes/default.theme.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
// @tailwind base;
// @tailwind components;
// @tailwind utilities;
// $primary: #153b54;

// // Explicitly set card border color before Bootstrap import
// $card-border-color: rgba(0, 0, 0, 0);

// @import "bootstrap";

body{
    font-size: 14px;
}

.switch-lg .form-check-input {
    width: 1.5rem;
    height: 0.7rem;
    transform: scale(1.5);
}

.form-check-input:checked {
    background-color: #27a544 !important;
    border-color: #27a544 !important;
  }
  
  /* Optional: remove blue box-shadow on focus */
  .form-check-input:focus {
    box-shadow: none !important;
  }
