<div class="mt-4">
  <div class="row">
    <div class="d-flex justify-content-between">
      <label class="text-first fw-bold text-uppercase fs-3"
        >Personal Details</label
      >
      <button
        type="button"
        class="btn btn-info"
        (click)="onOpneSocialMediaModel()"
      >
        <i class="ri-links-line"></i> Add Social Media Link
      </button>
    </div>
  </div>

  <div class="row my-4">
    <div class="col-12">
      @if(personalDetails!=null){
      <form #personalDetailsForm="ngForm" ngNativeValidate  (ngSubmit)="submitForm()">
        <div class="row">
          <div class="col-md-4 col-12">
            <label for="name" class="form-label fw-bold">Name</label>
            <input
              type="text"
              id="name"
              class="form-control form-control-lg"
              [ngModelOptions]="{ standalone: true }"
              [(ngModel)]="personalDetails.name"
              name="name"
              required
              [disabled]="!isEditMode"
            />
          </div>
        </div>
        <!-- Social Media Links -->
    <div class="col-12 mt-4">
  <!-- Display added social media links -->
  <div class="row gy-4">
    @for (item of personalDetails.personalSocialMedia; track $index) {
    <div class="col-md-4 col-12">
      <div class="d-flex justify-content-between align-items-center">
        <label for="{{ item.name }}" class="form-label">
          <img
            src="{{ baseURL }}/{{ item.image }}"
            alt=""
            height="20"
          /><span class="fw-semibold ms-1"> {{ item.name }}</span>
        </label>
        <div class="custom-toggle d-flex align-items-center">
          <label class="toggle-switch">
            <input
              class="toggle-checkbox"
              [ngModelOptions]="{ standalone: true }"
              [(ngModel)]="item.visibility"
              type="checkbox"
              id="{{ item.name }}Toggle"
              [disabled]="!isEditMode"
            />
            <span class="toggle-slider"></span>
          </label>
          <span class="toggle-text ms-2">
            {{ item.visibility ? 'Visible' : 'Hidden' }}
          </span>
        </div>
      </div>
      <div class="d-flex justify-content-between">
        <input
          type="text"
          id="{{ item.name }}"
          class="form-control form-control-lg"
          [(ngModel)]="item.link"
          [ngModelOptions]="{ standalone: true }"
          name="{{ item.name }}"
          required="{{item.visibility}}"
          [disabled]="!isEditMode"
        />
        @if(!item.isDefault){
        <button
          class="btn btn-danger btn-sm ms-2 rounded-2"
          (click)="deleteSocial($index)"
          *ngIf="isEditMode"
        >
          <i class="ri-delete-bin-line"></i>
        </button>
        }
      </div>
    </div>
    }
  </div>
</div>
        <!-- Submit Button -->
        <div class="mt-3 d-flex justify-content-end">
          <button
            type="button"
            class="btn btn-primary text-uppercase me-2"
            (click)="enableEdit()"
            *ngIf="!isEditMode"
          >
            <i class="ri-edit-line"></i> Edit
          </button>
          <button
      type="button"
      class="btn text-uppercase me-2 border border-1 text-secondary-emphasis border-secondary-subtle"
      (click)="cancelEdit()"
      *ngIf="isEditMode"
    >
      <i class="ri-close-circle-line"></i>
      Cancel
    </button>
          <button
            type="submit"
            class="btn btn-success me-2 text-uppercase"
            *ngIf="isEditMode"
          >
            <i class="ri-save-line"></i> Save
          </button>
        </div>
      </form>
      }
    </div>
  </div>
</div>


<!-- Add social media links -->
<div
  class="modal fade"
  id="addSocialMediaModal"
  tabindex="-1"
  aria-labelledby="modalLabel"
  data-bs-backdrop="static"
>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title fw-medium" id="modalLabel">
          Add Social Media Link
        </h4>
        <button
          type="button"
          class="btn-close"
          aria-label="Close"
          (click)="onCloseSocialMediaModal()"
        ></button>
      </div>
      <form ngNativeValidate (ngSubmit)="addSocialMedia()">
        <div class="modal-body">
          <div class="mb-3">
            <label class="form-label">Select Social Media</label>
            <ng-select
              [items]="socialMediaOptions"
              bindLabel="name"
              bindValue="name"
              [(ngModel)]="selectedSocialMedia"
              [ngModelOptions]="{ standalone: true }"
              (change)="onSocialMediaSelect($event)"
              placeholder="Choose a social media platform"
            >
              <ng-template ng-option-tmp let-item="item">
                <div class="d-flex align-items-center">
                  <img
                    [src]="item.image"
                    alt="{{ item.name }}"
                    style="width: 24px; height: 24px; margin-right: 8px;"
                  />
                  <span>{{ item.name }}</span>
                </div>
              </ng-template>
              <ng-template ng-label-tmp let-item="item">
                <div class="d-flex align-items-center">
                  <img
                    [src]="item.image"
                    alt="{{ item.name }}"
                    style="width: 24px; height: 24px; margin-right: 8px;"
                  />
                  <span>{{ item.name }}</span>
                </div>
              </ng-template>
            </ng-select>
          </div>
          <div class="mb-3">
            <label class="form-label">Platform Name</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="newSocialMedia.name"
              [ngModelOptions]="{ standalone: true }"
              name="socialName"
              required
            />
          </div>
          <div class="mb-3">
            <label class="form-label">Platform Image</label>
            <div *ngIf="newSocialMedia.image" class="mb-2">
              <img
                [src]="newSocialMedia.image"
                alt="Selected Platform Image"
                style="width: 50px; height: 50px; border-radius: 8px;"
              />
            </div>
            <input
              type="file"
              class="form-control"
              name="socialImage"
              id="platformImage"
              (change)="onSocialMediaIcon($event)"
              accept="image/*"
            />
            <small class="text-muted">Image will be automatically selected when choosing from dropdown</small>
          </div>
          <div class="mb-3">
            <label class="form-label">Link / URL</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="newSocialMedia.link"
              [ngModelOptions]="{ standalone: true }"
              name="socialLink"
              required
            />
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="onCloseSocialMediaModal()">
            <i class="ri-close-line"></i> Cancel
          </button>
          <button type="submit" class="btn btn-info">
            <i class="ri-add-fill"></i> Add
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
