<div>
    <div class="row">
        <div class="col-md">
            <label class="fw-bold text-uppercase fs-3">GetInTouch Enquiry Data</label>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col">
            <span class="fw-semibold">Search</span>
            <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="searchTerm" (input)="onSearch()">
        </div>
        <div class="col-auto">
            <span class="fw-semibold">Page</span>
            <select class="form-select" [(ngModel)]="itemsPerPage" (change)="onItemsPerPageChange()">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
        </div>
    </div>

    <!-- Products-Enquiry Table Section -->
    <div class="table-responsive mt-4">
        <table class="table table-bordered table-hover">
            <thead class="table-light text-uppercase">
                <tr>
                    <th class="text-center" style="width: 50px;">No.</th>
                    <th>Username </th>
                    <th>Email</th>
                    <th>Message</th>
                    <th>Contact Date</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="isLoading">
                    <td class="text-center" colspan="7">
                        <div class="spinner-border spinner-border-sm text-secondary" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </td>
                </tr>

                <!-- contacts Rows -->
                <tr *ngFor="let order of filteredgetIntouchContact ?? [] | paginate: { id: 'pager', itemsPerPage: itemsPerPage, currentPage: p, totalItems: totalItems }; let i = index">
                    <td class="text-center">{{ i + 1 }}</td>
                    <td>{{ order.name }}</td>
                    <td>{{ order.email }}</td>
                    <td>{{ order.message }}</td>
                    <td>{{ order.submittedAt | date: 'dd/MM/yyyy' }}</td>
                </tr>

                <!-- No getintouch-contacts Message -->
                <tr *ngIf="!isLoading && filteredgetIntouchContact.length === 0">
                    <td class="text-center" colspan="7">No contacts found.</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Pagination Controls -->
    <div class="text-end">
        <pagination-controls (pageChange)="pageChangeEvent($event)" id="pager"></pagination-controls>
    </div>
</div>