<div class="row py-4">
    <div class="col-md ">
        <span class="fs-3 fw-bold">OUR PRODUCTS</span>
    </div>
    <div class="col-auto">
        <button class="btn btn-info" (click)="onOpenCraeteModal()"><i class="ri-add-circle-line"></i> Add
            products</button>
    </div>
    <div class="col-auto">
        <ng-select [items]="[10,20,50,100,200,500]" [(ngModel)]="payload.limit" placeholder="Select Page"></ng-select>
    </div>

    <div class="table-responsive mt-4">
        <table class="table table-bordered">
            <thead class="text-uppercase bg-light">
                <tr>
                    <th class="text-center" [width]="'5%'">#</th>
                    <th>Product Name </th>
                    <th class="text-center" [width]="'20%'">Images</th>
                    <th [width]="'25%'">Description</th>
                    <th class="text-center" [width]="'15%'"><i class="ri-tools-fill"></i></th>
                </tr>
            </thead>
            <tbody *ngIf="isLoading">
                <tr>
                    <td class="text-center" colspan="5">
                        <div class="spinner-border spinner-border-sm text-secondary" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tbody *ngIf="!isLoading && products && products.docs && products.docs.length==0">
                <tr>
                    <td class="text-center" colspan="5">
                        <img src="../../../../../../../assets/images/NoRecordFound.png" alt="" style="width: 90px;">
                        <div class="fw-bold"> No Records Found </div>
                    </td>
                </tr>
            </tbody>
            <tbody *ngIf="!isLoading && products && products.docs && products.docs.length>0">
                <tr
                    *ngFor="let item of products.docs || [] | paginate: { itemsPerPage: payload.limit, currentPage: payload.page, totalItems: products.totalDocs}; let i = index">
                    <td class="text-center">{{ (payload.page - 1) * payload.limit + i + 1 }}</td>
                    <td>{{item.name}}</td>
                    <td class="text-center">
                        <div class="tw-flex tw-items-center " style="cursor: pointer;" *ngIf="item.images.length>0"
                            (click)="onOpenImageModal(item.images)">
                            <img src="{{imageBaseURL}}{{item.images[0]}}" alt="Product Image"
                                style="width: 25px;height: 25px;" />
                            <span *ngIf="item.images.length > 1"
                                [tooltip]="'... +' + (item.images.length - 1) + ' more images'" tooltipPosition="above">
                                <span class="mx-2 fw-bold text-success "> . . .</span>
                                <span class="badge bg-success">+{{ item.images.length - 1 }}</span>
                            </span>
                        </div>
                        <div *ngIf="item.images.length==0"> :: NA ::</div>
                    </td>
                    <td>{{item.description}}</td>
                    <td class="text-center"><button class="btn btn-sm btn-info" (click)="onOpenUpdateModal(item)"><i
                                class="ri-edit-fill"></i></button>
                        <button class="btn btn-danger btn-sm ms-1" (click)="_deleteProducts(item._id)"><i
                                class="ri-delete-bin-6-fill"></i></button>
                </tr>
            </tbody>
        </table>
        <div class="d-flex justify-content-end">
            <pagination-controls class="pagination" (pageChange)="onPageChange($event)"></pagination-controls>
        </div>
    </div>
</div>


<div class="modal fade" id="create-products" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
    role="dialog" aria-labelledby="modalTitleId" >
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title fw-medium" id="modalTitleId">
                    {{selectedProducts._id!=null ?'Update':'Add'}} products
                </h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="onCloseModal('create-products')"></button>
            </div>
            <form action="" (ngSubmit)="onCreateProducts()" ngNativeValidate>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <span class="fw-bold">Product Name <code class="text-danger">*</code></span>
                            <input type="text" [(ngModel)]="selectedProducts.name" [ngModelOptions]="{standalone:true}"
                                required class="form-control mt-1" placeholder="Please Enter Product Name">
                        </div>
                        <div class="col-md-12 mt-4">
                            <span class="fw-bold">Upload Images <code class="text-danger">* (Upload Upto 15 Images & Image size should be 1250 X 720 or 1600 X 900)</code></span>
                            <input type="file" #fileInput name="images" multiple accept="image/*"
                                (change)="onUploadImage($event)" class="form-control mt-1"/>
                            <div class="d-flex flex-wrap gap-2 mt-2">
                                <div *ngFor="let img of selectedProducts.images; let i = index"
                                    class="position-relative">
                                    <img [src]="getImagePreview(img)" alt="preview"
                                        style="width: 50px; height: 50px; object-fit: cover; border-radius: 6px;" />
                                    <button type="button"
                                        class="btn-close position-absolute top-0 end-0 bg-white rounded-circle "
                                        (click)="removeImage(i)"
                                        style="position: absolute; top: -4px; right: -4px; font-size: 10px; color: red; cursor: pointer;"
                                        aria-label="Close"></button>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-12 mt-4">
                            <span class="fw-bold">Description <code class="text-danger">*</code></span>
                            <textarea rows="3" [(ngModel)]="selectedProducts.description"
                                [ngModelOptions]="{standalone:true}" required class="form-control mt-1"
                                placeholder="Please Enter Description"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success"><i class="ri-save-fill"></i> Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="image-carousel" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
    role="dialog" aria-labelledby="modalTitleId">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title fw-bold" id="modalTitleId">
                    Product Images
                </h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item {{i==0?'active':''}}"
                            *ngFor="let img of imageForCarousel;let i=index">
                            <img src="{{imageBaseURL}}{{img}}" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>