<div>
    <div class="row">
        <div class="col-md">
            <div class="d-flex">
                <label class="fw-bold text-uppercase fs-3">About Company</label>
                <div class="form-check form-switch switch-lg ms-3 mt-2">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault"
                        [(ngModel)]="aboutCompanyVisible" (change)="_updateVisibility()">
                </div>
            </div>
        </div>
        <div class="col-md-auto">
            <button class="btn btn-info" (click)="onOpenaddAboutDetails()"><i class="ri-add-circle-line"></i> Add</button>
        </div>
    </div>

    <div *ngIf="isLoading" class="text-center my-4">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>

    <div class="table-responsive mt-4" *ngIf="!isLoading">
        <table class="table table-bordered table-hover">
            <thead class="bg-light text-uppercase">
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>description</th>
                    <th><i class="ri-tools-fill"></i></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of aboutCompanyList">
                    <td>{{item.title}}</td>
                    <td>{{item.description}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="add-about" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog"
    aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title fw-bold" id="modalTitleId">
                    Add About Details
                </h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="modal.close('add-about');fetchWebsiteDetails()"></button>
            </div>
            <div class="modal-body">
                <div class="ms-2" *ngFor="let item of payload.addAboutData;let i=index">
                    <div class="row mb-4">
                        <div class="col-3">
                            <label for="" class="fw-semibold">Title</label>
                            <input type="text" [(ngModel)]="item.title" class="form-control mt-1"
                                placeholder="Enter the Title">
                        </div>

                        <div class="col-6 ">
                            <label for="" class="fw-semibold">Description</label>
                            <textarea name="" id="" cols="3" class="form-control mt-1" [(ngModel)]="item.description"
                                class="form-control mt-1" placeholder="Enter the value"></textarea>
                        </div>
                        <div class="col-2">
                            <label for="">Visible</label>
                            <div class="form-check form-switch switch-lg ms-3 mt-2">
                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" [(ngModel)]="item.visible" [ngModelOptions]="{standalone: true}">
                            </div>
                        </div>
                        <div class="col-1 mt-4">
                            <i *ngIf="i === 0" class="ri-add-circle-line fs-2 text-success" style="cursor: pointer;"
                                (click)="onAddAboutData()"></i>

                            <i *ngIf="i !== 0" class="ri-delete-bin-line fs-2 text-danger" style="cursor: pointer;"
                                (click)="onDelete(i)"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" (click)="_saveAboutData()"><i class="ri-save-line" ></i> Save</button>
            </div>
        </div>
    </div>
</div>